div{
    background-color: #ca629c;
    height: 350px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    line-height: 320px;
}