<div class = "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
        <img src="../../../assets/johana.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Johana Belen Escudero</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de mí
            </h1>
            <p>
                Muy buenas. Soy Johana Belen Escudero y tengo 30 años.
                 Me considero una persona proactiva, responsable, con muchas ganas continuamente
                  de seguir aprendiendo y tomar nuevos retos.
            </p>
        </span>
    </div>
</div>
