
 <div class="row">
    <h1>Habilidades</h1>
    <div class = "text-center col-sm-3 col-md-3 col-lg-3">
 <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="3"
    [imageSrc] = "'../assets/html.png'"
    [showImage] = "true"
    [imageHeight] = "100"
    [imageWidth] = "100"
    [subtitleFontSize] = "'20'"
    [outerStrokeColor]="'#89004f'"
    [showSubtitle] = "true"
    [subtitle] = "'100%'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="750"
    ></circle-progress>
</div>
<div class = "text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="3"
    [imageSrc] = "'../assets/CSS.png'"
    [showImage] = "true"
    [imageHeight] = "120"
    [imageWidth] = "100"
    [outerStrokeColor]="'#89004f'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="750"
    ></circle-progress>
</div>
<div class ="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="3"
    [imageSrc] = "'../assets/js.png'"
    [showImage] = "true"
    [imageHeight] = "120"
    [imageWidth] = "100"
    [outerStrokeColor]="'#89004f'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="750"
    ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="3"
    [imageSrc] = "'../assets/Angular.png'"
    [showImage] = "true"
    [imageHeight] = "140"
    [imageWidth] = "140"
    [outerStrokeColor]="'#89004f'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="750"
    ></circle-progress>
</div>
</div>